:root {
    --fuente-principal: 'Lato', sans-serif;
    --primario: #da595e;
    --obscuro: #484848;
    --claro: #ffff;
    --hospedaje: #274174;
    --concierto: #da595e;
    --clase: #598dda;
    --paseo: #940ad4;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-principal);
}

h1 {
    font-size: 2.6rem;
    font-weight: 400;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.8rem;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

.hero {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 2fr;
    background-image: url("../img/arriba.jpg");
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    align-self: flex-start;
    /* TECNICA PARA CUANDO USAMOS GRID Y FLEXBOX  */
    padding-top: 2rem;
}

.navegacion a {
    color: var(--claro);
    margin-right: 1rem;
    text-decoration: none;
}

.navegacion a:last-child {
    margin-right: 0;
}

.contenido-hero {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: max-content auto;
}

.contenido-hero h1 {
    grid-column: 2/3;
    color: white;
}

.hospedaje {
    color: #274154;
}

.contenido-hero form {
    grid-column: 2/3;
    grid-row: 2/3;
}

.contenido-hero form {
    display: flex;
    height: 4rem;
    position: relative;
}

.contenido-hero form input[type="text"] {
    flex: 1;
    background-image: url("../img/lupa.png");
    background-repeat: no-repeat;
    padding-left: 4rem;
    border-radius: 10px;
    background-position: calc( 1% + 1rem) calc( 1% + 0.6rem);
}

@media(min-width:768px) {
    .contenido-hero form input[type="text"] {
        flex: 1;
        background-image: url("../img/lupa.png");
        background-repeat: no-repeat;
        padding-left: 4rem;
        border-radius: 10px;
        background-position: calc( 1% + 1rem) calc( 1% + 0.6rem);
    }
}

.contenido-hero form input[type="submit"] {
    position: absolute;
    right: 0.4rem;
    top: .6rem;
    padding: .7rem 2rem;
    border: none;
    background-color: var(--primario);
    color: white;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
}

/* CONTENIDO CARDS */

.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.card img {
    width: 100%;
}

.info .categoria {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
}

.info .titulo {
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0;
}

.info .precio {
    color: var(--obscuro);
    font-size: 0.9rem;
}

.boton {
    box-shadow: 4px 7px 5px 0px rgba(0, 0, 0, 0.75);
    background-color: var(--claro);
    display: block;
    color: var(--obscuro);
    padding: 1rem;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.boton:hover {
    background-color: var(--primario);
    color: white;
}

/* COLORES */

.hospedaje {
    color: var(--hospedaje);
}

.concierto {
    color: var(--concierto);
}

.clase {
    color: var(--clase);
}

.paseo {
    color: var(--paseo);
}

.premium {
    background-image: url("../img/hospedaje-pro.jpg");
    grid-template-columns: unset;
    /* parece no ser necesaria */
    background-repeat: no-repeat;
    height: 30rem;
}

.premium .info {
    text-align: center;
}

.premium .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.premium .info h3 {
    text-align: center;
    color: var(--claro);
}

@media(min-width:768px) {
    .premium {
        grid-template-columns: auto 30%;
    }
    .premium .info {
        grid-column: 2/3;
    }
    .premium .info h3 {
        color: var(--obscuro);
        text-align: right;
    }
}

.destinos .contenedor-cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.destinos .card {
    position: relative;
}

.destinos .info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
}

.destinos .info .titulo {
    font-size: 1.8rem;
    color: var(--claro);
}